/* Define variables: */
:root {
  --primary-color: #2d2d2d;
  --inverse-primary-color: #fefefe;
  --mid-primary-color: #e0e0e0;
  --secondary-color: #4d4d4d;

  --accent-color: #0e533c;
  --inverse-accent-color: #b2d8cc;
  --mid-accent-color: #9cc7b8;

  --bad-color: #830505;
  --inverse-bad-color: #efb9b9;
  --mid-bad-color: #e1a6a6;

  --body-margin: 8px; /* will not apply this margin directly to body element; instead, will apply to safe-area-container (which is a child of body & root) */
  /* Set usable width and height within body content, such that whole viewport is spanned with no scrolling required: */
  --usable-width: calc(100vw - 2 * var(--body-margin));
  --usable-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 2 * var(--body-margin));
  --menu-bar-padding: 6px;
  --menu-bar-height: calc(1.2rem + 2 * var(--menu-bar-padding) + env(safe-area-inset-top)); /* enough to contain the menu bar content and padding, including safe area inset */
}

/* 
Set border-box sizing to be default (so now e.g. can set width to --usable-width within body, and there will be no scrolling): 
If content-box (default) was used instead of border-box, then padding etc. would push element box outside usable width and cause scrolling.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

.safe-area-container {
  position: relative; /* to allow children to use % units, e.g. width: 100% */
  padding-top: calc(env(safe-area-inset-top) + var(--body-margin)); /* note, we will effectively increase this to allow for menu bar height, but adding a top-margin to top-level page containers (to those pages which have the menu bar) */
  padding-bottom: calc(env(safe-area-inset-bottom) + var(--body-margin));
  padding-left: var(--body-margin);
  padding-right: var(--body-margin);
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


html, body {
  padding: 0;
  margin: 0; /* note, our intended "body margin" is applied as padding to safe-area-container instead of margin to body itself */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--primary-color);
  color: var(--inverse-primary-color);
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--menu-bar-height);
  padding: var(--menu-bar-padding);
  padding-top: calc(var(--menu-bar-padding) + env(safe-area-inset-top));
  background-color: var(--mid-primary-color);
  z-index: 500; /* always on top of non-modal content (modals have z-index 1000+ at time of writing) */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

a {
  color: var(--mid-primary-color);
}

.menu-bar a {
  color: var(--primary-color);
  text-decoration: none; /* remove underline */
}

.menu-bar a:hover {
  text-decoration: underline; /* bring back underline on hover */
}

/* Top-level containers: */

.home-container, .plan-container, .auth-container, .contact-container, .privacy-policy-container, .loading-container, .pricing-container, .help-container {
  position: relative;
  overflow-y: auto;
  margin-top: calc(var(--menu-bar-height) - env(safe-area-inset-top)); /* push content down to avoid menu bar (we take away safe area inset, as this is already accounted for in --menu-bar-height */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container {
  margin-top: 0; /* Auth page has no menu bar, so should not get extra margin */
}

.plan-container {
  height: 100%; /* on the plan page (with PDF viewer), we want PDF to ultimately take up area of screen with no scroll (scrolling will be done through panning of the PDF, not scrolling content itself) */
}

.privacy-policy {
  text-align: left;
  max-width: 800px;
}

/* unlike other containers, we want to be able to position loading container inside, say, a modal, so should be relative instead of absolute */
.loading-container { 
  position: relative;
  left: 0;
  transform: none;
}

.help-container {
  max-width: 800px;
}

.bottom-logo {
  margin-bottom: 6px;
}


/* Pricing page: */

.cards-container {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  position: relative;
  width: 380px;
  max-width: 100%;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  text-align: center;
  border: 2px solid var(--mid-accent-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bullets {
  width: 100%;
  text-align: left;
  padding-left: 1.25rem;
  margin: 1rem 0;
  list-style-type: disc;
  list-style-position: inside;
}

.bullets li {
  margin: 0.3rem 0;
  /* so that, if spills over multiple lines, they are indented same as first line: */
  padding-left: 1rem;
  text-indent: -1rem;
}


/* 
pageCanvas & markerLayer will be inside page-container of same size, 
which has overflow hidden to prevent markers going outside canvas boundary.
To ensure these are same size, whilst also allowing page-container to be sized
flexibly to take up height of viewport (minus content above it), we must make page-container
be both a flex item (of parent plan-container) and flex container itself (with children 
pageCanvas and markerLayer). Can then make plan-container take up 100% of viewport height;
make page-container grow/shrink as appropriate to fill plan-container; and make pageCanvas and
markerLayer fill entirety of pageCanvas.
*/

.page-container {
  position: relative;
  overflow: hidden;
  width: var(--usable-width);
  border: 2px solid var(--mid-accent-color);
  flex-grow: 1;
  flex-shrink: 1;
}

.page-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Custom properties used in pdf-render.jsx to set colour surrounding the PDF, if PDF is not taking up entire canvas: */
  --surround-color: var(--secondary-color);
  --boundary-color: var(--accent-color);
}

.marker-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.marker {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.marker:hover {
  transform: scale(1.05);
}

/* Tutorial */

.tutorial-button {
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tutorial-button:hover {
  transform: scale(1.05);
}


/* Thumbnails of plans (on home page) */

.thumbnails-container {
  position: relative; /* to allow thumbnail to use % units in reference to it */
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  --thumbnail-gap: 15px; /* define as variable, as will be used in child (.thumbnail) class */
  gap: var(--thumbnail-gap);
  justify-content: center;
}

.thumbnail-filename-group {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  max-width: 250px;
  /* If possible within min/max width, aim for 2 items per line, but no flex-grow, as otherwise a lone thumbnail on its row will grow bigger than the other thumbnails: */
  flex: 0 1 calc(49% - var(--thumbnail-gap)); 
}

.thumbnail {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1; /* always square */
  border-radius: 10px;
}

.pdf-input-container {
  padding: var(--thumbnail-gap); /* so content inside pdf-input-container gets twice the gap as normal */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail-canvas {
  width: 100%;
  height: 100%;
}


/* Modals */

.centre-modal, .side-modal {
  /* Note, here we provide basic properties only, with specifics for centre vs side positioning covered separately afterwards */
  position: fixed;
  overflow: auto;
  width: 500px;
  max-width: var(--usable-width); /* need to use this variable instead of 100%, as not all modals have safe-area-container (or container of same size) as containing block; some are more deeply nested */
  padding: 20px;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  z-index: 1000; /* on top of all non-modal content (including menu bar). NOTE, THIS DOESN'T APPLY NICELY ON REACT MODALS, AS YOU HAVE TO APPLY EXPLICITLY TO BOTH OVERLAY AND CONTENT. So, I do this directly in the <Modal> tag of each modal I create */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centre-modal {
  left: calc(100vw/2);
  top: calc(100vh/2);
  transform: translate(-50%, -50%) scale(0); /* initially scaled down to infinitesimal point (translate is just to position centrally, nothing to do with the transition) */
  transition: transform 0.3s ease;
}

.centre-modal.after-open {
  transform: translate(-50%, -50%) scale(1); /* bring to normal size after opening */
}

.centre-modal.before-close {
  transform: translate(-50%, -50%) scale(0); /* go back to infinitesimal size when closing */
}

.side-modal {
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: calc(20px + env(safe-area-inset-top)); /* top padding increased so content avoids top safe area */
  padding-bottom: calc(20px + env(safe-area-inset-bottom)); /* bottom padding increased so content avoids bottom safe area */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateX(100%); /* initially off screen */
  transition: transform 0.3s ease; /* smooth transition when transforming */
}

.side-modal.after-open {
  transform: translateX(0); /* bring to normal on-screen position after opening */
}

.side-modal.before-close {
  transform: translateX(100%); /* go back to off screen when closing */
}

.item-image-container {
  position: relative;
  width: 100%;
}

.item-image-container img {
  margin: 0 auto; /* 0 vertical margin; horizontal margin evenly split to centre the element */
  max-width: 100%;
  max-height: 400px;
  display: block;
  border-radius: 5px;
}


/* Forms: */

form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-item {
  width: 600px;
  max-width: 100%;
  text-align: left; /* to overwrite "center", which I have set as the default for modals above (noting text-align is an inherited property) */
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  display: flex;
  align-items: center; /* vertically align label & input */
}

.form-item label {
  width: 85px; /* fixed label width */
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  /* Inherit border radius at left, but keep zero radius at right: */
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
}

.form-item input, .form-item textarea, .form-item select {
  min-width: 150px;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem; /* provided rem is at least 16px, will prevent iOS' automatic zoom-in to view small form text */
  /* Invert the usual text and background colours, making the input box stand out: */
  color: var(--primary-color);
  background-color: var(--inverse-primary-color);
  /* Inherit border radius at right, but keep zero radius at left: */
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  resize: none; /* only affects textarea; prevents user from manually resizing area */
  flex-grow: 1; /* input fills entire width left over after label */
}

/* Buttons: */

button, .button-like {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  border: 0px solid var(--inverse-primary-color); /* otherwise, browser applies its own defaults, causing shadow effect */
  font-size: 0.8rem;
  color: var(--primary-color);
  background-color: var(--inverse-primary-color);
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
}

button:hover, .button-like:hover {
  background-color: var(--mid-primary-color);
}

.bad {
  color: var(--bad-color);
  background-color: var(--inverse-bad-color);
}
.bad:hover {
  background-color: var(--mid-bad-color);
}

.accented {
  color: var(--accent-color);
  background-color: var(--inverse-accent-color);
}
.accented:hover {
  background-color: var(--mid-accent-color);
}

.big-buttons-container {
  position: relative;
  margin: 0 auto; /* 0 vertical margin; horizontal margin evenly split to centre the element */
  /* note, if width and max-width are reversed, does not work on Home page: */
  width: 100%;
  max-width: 600px;
  text-align: center; /* will be inherited by children */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
}

.big-buttons-container button, .big-buttons-container .button-like {
  position: relative;
  width: 200px;
  max-width: min(100%, 300px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.1rem;
  flex-grow: 1;
}

/* image icons to put within some buttons (to be positioned at left side of button, vertically centred) */
button img, .button-like img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  height: 1.2rem;
}

/* some icons already have some padding, so need to be made bigger: */
button .padded-icon, .button-like .padded-icon {
  height: 1.8rem;
}

.item-image-container button, .thumbnail button {
  position: absolute;
  margin-bottom: 5px; /* position 5px above bottom of containing block's padding */ 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


/* 
We will make page flick buttons be positioned at bottom left and right corners of the PDF viewer.
Even though (at time of writing), the buttons are not nested inside the PDFViewer or PageCanvas/MarkerLayer elements,
the fact that those are set to extend exactly to the bottom of plan-container (which our buttons ARE nested in)
means we can simply set the buttons to be positioned at the bottom left and right corners of plan-container:
*/

#previous-page-button, #next-page-button {
  position: absolute;
  bottom: 0;
  width: 150px; /* should be easily wide enough for "Previous page" and "Next page" text to fit on one line and for buttons to be same size */
  max-width: calc(95% / 2); /* just in case screen is ridiculously skinny, to prevent the two buttons overlapping */
  border: 1px solid var(--accent-color);
  color: var(--inverse-primary-color);
  background-color: var(--primary-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#previous-page-button {
  left: 0;
  border-top-left-radius: 0;
}

#next-page-button {
  right: 0;
  border-top-right-radius: 0;
}

/* Loading spinner: */

.spinner {
  width: 40px;
  height: 40px;
  border: 2px solid var(--inverse-primary-color);
  border-top-color: var(--secondary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px;
  margin-bottom: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}