/* Define variables: */
:root {
  --primary-color: #2d2d2d;
  --secondary-color: #565656;
  --accent-color: #e67e22;
  --text-color: #fefefe;
  --body-margin: 8px; /* 8px is already default value for body margin, but just in case I want to easily change it later */
  /* Set usable width and height within body content, such that whole viewport is spanned with no scrolling required: */
  --usable-width: calc(100vw - 2 * var(--body-margin));
  --usable-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom) - 2 * var(--body-margin));
}

/* 
Set border-box sizing to be default (so now e.g. can set width to --usable-width within body, and there will be no scrolling): 
If content-box (default) was used instead of border-box, then padding etc. would push element box outside usable width and cause scrolling.
*/
*, *::before, *::after {
  box-sizing: border-box;
}


body {
  background-color: var(--primary-color);
  color: var(--text-color);
  margin: var(--body-margin);
}


/* 
pageCanvas & markerLayer will be inside page-container of same size, 
which has overflow hidden to prevent markers going outside canvas boundary.
To ensure these are same size, whilst also allowing page-container to be sized
flexibly to take up height of viewport (minus content above it), we must make page-container
be both a flex item (of parent plan-container) and flex container itself (with children 
pageCanvas and markerLayer). Can then make plan-container take up 100% of viewport height;
make page-container grow/shrink as appropriate to fill plan-container; and make pageCanvas and
markerLayer fill entirety of pageCanvas.
*/

.plan-container {
  position: relative; /* set to relative to allow it to be a containing block for children (particularly page buttons) */
  width: var(--usable-width);
  height: var(--usable-height);
  display: flex;
  flex-direction: column;
}

.page-container {
  position: relative;
  overflow: hidden;
  width: var(--usable-width);
  border: 1px solid var(--accent-color);
  flex-grow: 1;
  flex-shrink: 1;
}

.page-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Custom properties used in pdf-render.jsx to set colour surrounding the PDF, if PDF is not taking up entire canvas: */
  --surround-color: var(--secondary-color);
  --boundary-color: var(--accent-color);
}

.marker-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Thumbnails of plans (on home page) */

.home-container {
  position: relative; /* set to relative to allow it to be a containing block for children */
  width: var(--usable-width);
  height: var(--usable-height);
}

.thumbnails-container {
  position: relative; /* to allow thumbnail to use % units in reference to it */
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  --thumbnail-gap: 15px; /* define as variable, as will be used in child (.thumbnail) class */
  gap: var(--thumbnail-gap);
  justify-content: center;
}

.thumbnail, .pdf-input-container { /* we will style the PDF file input to look similar to other thumbnails of existing PDFs (e.g. same size) */
  position: relative;
  min-width: 100px;
  max-width: 250px;
  aspect-ratio: 1 / 1; /* always square */
  overflow: hidden;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  /* If possible within min/max width, aim for 2 items per line, but no flex-grow, as otherwise a lone thumbnail on its row will grow bigger than the other thumbnails: */
  flex: 0 1 calc(49% - var(--thumbnail-gap)); 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.thumbnail-canvas {
  width: 100%;
  height: 100%;
}


/* Form items (used in Plan page modal for marker information): */

.form-item {
  width: 400px;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  display: flex;
  align-items: center; /* vertically align label & input */
}

.form-item label {
  width: 80px; /* fixed label width */
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  /* Inherit border radius at left, but keep zero radius at right: */
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
}

.form-item input {
  min-width: 150px;
  padding: 8px;
  font-size: 1rem; /* provided rem is at least 16px, will prevent iOS' automatic zoom-in to view small form text */
  /* Invert the usual text and background colours, making the input box stand out: */
  color: var(--primary-color);
  background-color: var(--text-color);
  /* Inherit border radius at right, but keep zero radius at left: */
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-grow: 1; /* input fills entire width left over after label */
}


/* Modal (used on Plan page for adding/editing marker information) */

.modal {
  position: fixed;
  /*bottom: env(safe-area-inset-bottom); /* bottom of modal is always at top edge of bottom safe area */
  /* 
  ^ Does not work. Seemingly, with position: fixed and safe area insets included, bottom: 0 correponds to top of
  bottom safe area rather than absolute bottom of viewport (even though AI chatbots seem to disagree).
  */
  bottom: 0; /* bottom of modal is always at top edge of bottom safe area */
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  max-width: var(--usable-width);
  max-height: calc(var(--usable-height) * 0.8); /* modal will grow upwards based on size of content, up to this limit ... */
  overflow: auto; /* ... at which point scrolling is activated */
  padding: 20px;
  background-color: var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.modal form {
  position: relative;
  width: 100%;
}

.defect-image-container {
  position: relative;
  width: 100%;
  margin: 10px;
  /* 
  Note we use margin for defect-image-container, so delete-button (which is absolutely positioned relative to this)
  is unaffected by the margin (note "bottom" property means distance from containing block's bottom PADDING edge to 
  element's bottom MARGIN edge).
  */
}

.defect-image {
  width: 100%;
  display: block;
  border-radius: 5px;
}


/* Buttons */

button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
  color: var(--primary-color);
  background-color: var(--text-color);
  border-radius: 10px;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  margin-bottom: 5px; /* position 5px above bottom of containing block's padding */ 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* THIS IS PLACEHOLDER, positioning marker delete button in normal flow, so will appear after submit & cancel buttons.
Can improve to make whole submit/cancel/delete prettier, maybe so that submit/cancel together take up whole width, 
then marker delete button on its own below that */
.marker-delete-button {
  position: static; /* placeholder */
}

/* 
We will make page flick buttons be positioned at bottom left and right corners of the PDF viewer.
Even though (at time of writing), the buttons are not nested inside the PDFViewer or PageCanvas/MarkerLayer elements,
the fact that those are set to extend exactly to the bottom of plan-container (which our buttons ARE nested in)
means we can simply set the buttons to be positioned at the bottom left and right corners of plan-container:
*/

#previous-page-button, #next-page-button {
  position: absolute;
  bottom: 0;
  width: 150px; /* should be easily wide enough for "Previous page" and "Next page" text to fit on one line and for buttons to be same size */
  max-width: calc(95% / 2); /* just in case screen is ridiculously skinny, to prevent the two buttons overlapping */
  border: 1px solid var(--accent-color);
  color: var(--text-color);
  background-color: var(--primary-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#previous-page-button {
  left: 0;
  border-top-left-radius: 0;
}

#next-page-button {
  right: 0;
  border-top-right-radius: 0;
}
